@keyframes animationTitre {
  0% {
    background: linear-gradient(114deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 33%, rgba(0,0,255,1) 66%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  33% {
    background: linear-gradient(114deg, rgba(0,0,255,1) 0%, rgba(255,0,0,1) 33%, rgba(0,255,0,1) 66%, rgba(0,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  66% {
    background: linear-gradient(114deg, rgba(0,255,0,1) 0%, rgba(0,0,255,1) 33%, rgba(255,0,0,1) 66%, rgba(0,255,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(114deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 33%, rgba(0,0,255,1) 66%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}


body {
  background: black;
}


.conteneur{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  letter-spacing: -1px;
  
  white-space: nowrap;
}

h1 {
  flex: max-content;
  font-size: 4rem;
  text-align: center;
  
  text-transform: uppercase;
  animation: animationTitre 3s 0s both;
  animation-iteration-count: infinite;
  text-shadow: 5px 3px rgba(255,255,255,0.2) ;
}



.option{
  display: flex;
  flex-direction: row;
}

.life {
  flex: 1;
  margin-top: 10px;
  font-size: 1.8rem;
  text-shadow: 5px 3px rgba(0,0,0,0.7) ;
  color: white;
  
}

.reset {
  flex: 1;

  border: 2px solid white;
  background-color: black;
  color: white;
  height: 50px;
  font-size: 1.8rem;
}

.reset:hover{
  background-color: white;
  color: black;
}

canvas{
  flex: max-content;
  width: 100%;
  max-width: 720px;
  max-height: 720px;
}

.over{
  position: absolute;
  z-index: 1;
  font-size: 9rem;
  bottom:  35%;
  left: 15%;
  display: block;
  margin: auto;
  animation: animationTitre 3s 0s both;
  animation-iteration-count: infinite;

  text-transform: uppercase;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 9vw;
  }

  .over{
    font-size: 20vw;
  }
}